body{
    display: flex;
    background: #1C1C1C;
    color: white;
    justify-content: center;
}



.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23252C;
    width: 35rem;
    height:60rem;
   
}

.inner-card{
    background: #1A1B21;
    width: 20rem;
    height: 47rem;
}
/*info*/
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.pic{
    border-top-left-radius: 10px;
  border-top-right-radius: 10px;
    height: 20rem;
    width: 20rem;
}

.name{
    font-family: Inter;
    font-weight: 700;
    margin-top: 1.3rem;
    font-size: 1.5rem;
    margin-bottom: -.5rem;
}

.work{
color: #F3BF99;
text-align: center;
font-size: 0.8rem;
font-style: normal;
font-weight: 400;
font-family: Inter;
line-height: normal;
}

.portfolio {
text-decoration: none;
color: #F5F5F5;
text-align: center;
font-size: 0.64rem;
font-style: normal;
font-weight: 400;
font-family: Inter;
line-height: 150%; /* 0.96rem */
margin-top: -.5rem;
margin-bottom: 1rem;

}

.button-container{
    display: flex;
    gap: 1.2rem;
}


.btn{
    display: flex;
width: 7.1875rem;
padding: 0.5625rem 0.8125rem 0.5625rem 0.6875rem;
justify-content: center;
align-items: center;
gap: 0.5rem;
border-radius: 0.375rem;
border: 1px solid #D1D5DB;
background: white;
box-shadow : 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}






.about, .interests{
    margin-right: 2.2rem;
    margin-left: 2.2rem;
    
}






/*Interests*//*about*/
.about h2, .interests h2{
    color: #F5F5F5;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; 
    margin-bottom: 0;
}

.about p, .interests p{
    margin-top: 0rem;
    color: #DCDCDC;
    font-family: Inter;
    font-size: 0.64rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.96rem; 
}
.interests{
    margin-bottom: 2rem;
}


/*Footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    border-radius: 0rem 0rem 0.625rem 0.625rem;
    background: #161619;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}